.body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Oswald', sans-serif;
}

  


/*/////////////// pink ///////////////*/

.smbk{
    display: none;
}

.rowq{
    background-color: #feaa84;
    padding-top: 5px;
}

.qtalkingtostrangers{
    margin-top: 20px;
    position: relative;
    padding-left: 100px;
}


.talkingtostrangersimg{
    width: 540px;
    height: 220px;
}



.backrow{
    background-color: #feaa84;
}

.linktohome{
    position:fixed;
    top:0;
    left:5;
    margin:.5em;
    margin-top: 2em;
      z-index: 3;
}


.title{
    font-family: 'Oswald', sans-serif; 
    font-weight: 500;
    color: #fdffd6;
    font-size: 135px;
    line-height: 128px;
    padding-top: 150px;
    text-transform: uppercase;
}

.titlerow{
    background-color: #feaa84;
}

.how{
    font-family: 'Oswald', sans-serif; 
    font-weight: 500;
    color: #000000;
    font-size: 51px;
    padding-top: 160px;

}

.rowhow{
    background-color: #feaa84;
}



/*//////////////// black ///////////////////*/


.introone{
    font-family: 'Oswald', sans-serif; 
    font-weight: 500;
    color: #fdffd6;
    font-size: 24px;
    line-height: 24px;
    text-align: right;    
}


.rowone{
    background-color: #000000;
    padding-top: 180px;
    margin-top: -31px;  
    margin-left: -100px;
}


.rowtwo{
    background-color: #000000;
    padding-top: 60px;
    margin-left: -60px;
}

.quoteone{
    font-family: 'Oswald', sans-serif; 
    font-weight: 500;
    color: #fdffd6;
    font-size: 135px;
    line-height: 128px;
    text-transform: uppercase;
}
.quoteone::before{
  content: "\201C";
  position: absolute;
  left:-.3%;
  margin-left: -3%;
}

.rowthree{
    background-color: #000000;
    padding-bottom:200px;
    padding-top: 100px;
    margin-left: -50px;
}

.paraone{
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    color: #fdffd6;
    font-size: 18px;
    line-height: 24px;
}

/*//////////////// statistics////////////*/


.asterix{
    font-family: 'Oswald', sans-serif; 
    font-weight: 700;
    color: #000000;
    font-size: 56px;
    line-height: 53px;
    text-transform: uppercase;

}

.rowgif{
    padding-top: 150px;
    background-color:#feaa84; 
}

.numbergif{
    padding-top: 20px;
}

.percentages{
    width: 420px;
  height: auto;
    margin-left: -25px;
}

.rowstat{
    background-color:#feaa84;
    padding-bottom: 150px;
}

.risinggif{
    width: 355px;
  height: auto;
    margin-top: -20px;
}

.statcol{
    font-family: 'Oswald', sans-serif; 
    font-weight: 700;
    color: #000000;
    font-size: 56px;
    line-height: 53px;
    text-transform: uppercase;
    margin-top: -550px;
    padding-top: 40px;
}
/*/////////////////// black //////////////////*/



.rowfour{
    background-color: #000000;
    padding-top:120px;
    padding-left: 70px;
    padding-top: 200px;
    
}

.introtwo{
    font-family: 'Oswald', sans-serif; 
    font-weight: 500;
    color: #fdffd6;
    font-size: 24px;
    line-height: 24px;
    text-align: right;
    padding-top: 10px;
}

.quotetwo{
    font-family: 'Oswald', sans-serif; 
    font-weight: 500;
    color: #fdffd6;
    font-size: 135px;
    line-height: 128px;
    text-transform: uppercase;
    
}
.quotetwo::before{
  content: "\201C";
  position: absolute;
  left:-.4%;
  margin-left: -4%;
}

.rowfive{
    background-color: #000000;
    padding-top: 100px;
    padding-bottom: 200px;
    margin-left: -100px;
}

.paratwo{
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    color: #fdffd6;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
}


/*///////////// pink //////////////*/



.rowsix{
    background-color: #feaa84;
    padding-top:120px;
    padding-top: 170px;
    margin-left: -100px;
}

.introthree{
    font-family: 'Oswald', sans-serif; 
    font-weight: 500;
    color: #000000;
    font-size: 24px;
    line-height: 24px;
    text-align: right;
    padding-top: 10px;
}

.quotethree{
    font-family: 'Oswald', sans-serif; 
    font-weight: 500;
    color: #000000;
    font-size: 135px;
    line-height: 128px;
    text-transform: uppercase;
    padding-left: 5px;
    
}
.quotethree::before{
  content: "\201C";
  position: absolute;
  left:-.5%;
  margin-left: -5%;
}

.rowseven{
    background-color: #feaa84;
    padding-top: 100px;
    padding-bottom: 200px;
    margin-left: -100px;
}

.parathree{
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
}

.parathreebold{
    font-family: 'Roboto', sans-serif; 
    font-weight: 700;
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
}
    


/*///////////////footer////////////////*/


.rowfooter{
    background-color: #feaa84;
}

hr{ 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width:0.5px;
  border-color: black;
}

.footerheadings{
    background-color: #feaa84;
    padding-top: 40px;
}


.hashtagname{
    font-family: 'Oswald', sans-serif; 
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
}

.footerlinks{
    background-color: #feaa84;
    margin-top: -10px;
}

.twitterblack{
    height: 30px;
    width: auto;
}

.facebookblack{
    height: 30px;
    width: auto;
    margin-left: -50px;
}


.vl {
  border-left: 1px solid black;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;

}


.weblink{
     font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    /*text-transform: uppercase;*/
    padding-left: 20px;
}


.addressline{
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    padding-left: 20px;
}

.report{
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    padding-left: 20px;
}

.cybersafe{
    background-color: #feaa84;
    padding-top: 30px;
    padding-right: 15px;
}

.copywrite{
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    margin-left: 120px;
    padding-top: 5px;
}

.logo{
    height: 60px;
    width: auto;
    margin-left: -60px;
    margin-top: -10px;
    padding-left: 50px;
}




















/*//////////// small screen //////////////*/


@media only screen and (max-width: 576px) {
    
    
    
    
    /*//////////// black ///////////*/

    
.rowq{
    background-color: #feaa84;
    
}

.qtalkingtostrangers{
    margin-top: 25px;
    position: relative;
    margin-left: -50px
}


.talkingtostrangersimg{
    width: 451px;
    height: 173px;
}


.backrow{
    background-color: #feaa84;
}

.linktohome{
    position:fixed;
    top:0;
    left:5;
    margin:.5em;
    margin-top: 2em;
      z-index: 3;
}

.smbk{
     display: inline;   
    }
    
.title{
    font-family: 'Oswald', sans-serif; 
    font-weight: 700;
    color: #fdffd6;
    font-size: 87px;
    line-height:80px;
    padding-top: 130px;
    text-transform: uppercase;
}
    
    .lgbk{
        display: none;
    }

.titlerow{
    background-color: #feaa84;
}

.how{
    font-family: 'Oswald', sans-serif; 
    font-weight: 500;
    color: #000000;
    font-size: 51px;
    padding-top: 100px;

}

.rowhow{
    background-color: #feaa84;
    margin-left: -200px;
}
 
/*////////////////// black /////////////////////*/
    
    
    
.introone{
    font-family: 'Oswald', sans-serif; 
    font-weight: 500;
    color: #fdffd6;
    font-size: 24px;
    line-height: 24px; 
    text-align: left;
}


.rowone{
    background-color: #000000;
    padding-top: 140px;  
    padding-left: 90px;
}


.rowtwo{
    background-color: #000000;
    padding-top: 60px;
}

.quoteone{
    font-family: 'Oswald', sans-serif; 
    font-weight: 700;
    color: #fdffd6;
    font-size: 87px;
    line-height: 80px;
    text-transform: uppercase;
    margin-left: 80px;
}
.quoteone::before{
  content: "\201C";
  position: absolute;
  left:-.3%;
  margin-left: -3%;
}

.rowthree{
    background-color: #000000;
    padding-bottom:80px;
    padding-top: 100px;
    padding-left: 75px;
}

.paraone{
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    color: #fdffd6;
    font-size: 18px;
    line-height: 24px;
}
    
    
/*///////////// statistic ////////////*/
    
    
    
.asterix{
    font-family: 'Oswald', sans-serif; 
    font-weight: 700;
    color: #000000;
    font-size: 33px;
    line-height: 32px;
    text-transform: uppercase;

}

.rowgif{
    padding-top: 150px;
    background-color:#feaa84; 
    margin-left: -100px;
}


.percentages{
    width: 250px;
  height: auto;
}

.rowstat{
    background-color:#feaa84;
    padding-bottom: 150px;
    margin-left: -120px;
}

.risinggif{
    width: 400px;
  height: auto;
    padding-top: 120px
}

.statcol{
    font-family: 'Oswald', sans-serif; 
    font-weight: 700;
    color: #000000;
    font-size: 33px;
    line-height: 32px;
    text-transform: uppercase;
    margin-top: -870px;
    padding-top: 63px;
}  
    
    
/*///////// black /////////  */
    
    
    
.rowfour{
    background-color: #000000;
    padding-top:120px;
    padding-left: 70px;
    padding-top: 100px;
    margin-left: -80px;
    
}

.introtwo{
    font-family: 'Oswald', sans-serif; 
    font-weight: 500;
    color: #fdffd6;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    padding-top: 10px;
}

.quotetwo{
    font-family: 'Oswald', sans-serif; 
    font-weight: 700;
    color: #fdffd6;
    font-size: 87px;
    line-height: 80px;
    text-transform: uppercase;
    padding-left: 50px;
    padding-top: 60px;
}
.quotetwo::before{
  content: "\201C";
  position: absolute;
  left:-.4%;
  margin-left: -4%;
  padding-left: 40px;
}

.rowfive{
    background-color: #000000;
    padding-top: 100px;
    padding-bottom: 110px;
    margin-left: -100px;
}

.paratwo{
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    color: #fdffd6;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    padding-left: 140px;
}

    
/*///////////// pink //////////// */ 

    
    
    
    
.rowsix{
    background-color: #feaa84;
    padding-top:120px;
    padding-top: 150px;
}

.introthree{
    font-family: 'Oswald', sans-serif; 
    font-weight: 500;
    color: #000000;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    padding-top: 10px;
    padding-left: 105px;
    
}

.quotethree{
    font-family: 'Oswald', sans-serif; 
    font-weight: 700;
    color: #000000;
    font-size: 87px;
    line-height: 80px;
    text-transform: uppercase;
    padding-left: 140px;
    padding-top: 60px;
    
}
.quotethree::before{
  content: "\201C";
  position: absolute;
  left:-.5%;
  margin-left: -5%;
    padding-left: 140px;
}

.rowseven{
    background-color: #feaa84;
    padding-top: 100px;
    padding-bottom: 120px;
}

.parathree{
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    padding-left: 145px;
}

.parathreebold{
    font-family: 'Roboto', sans-serif; 
    font-weight: 700;
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
}
    

/*///////////////footer////////////////*/


.rowfooter{
    background-color: #feaa84;
}

hr{ 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
 /* margin-left: auto;
  margin-right: auto;*/
  border-style: inset;
  border-width:0.5px;
  border-color: black;
  margin-left: 20px;
  margin-right: 20px;
}

.footerheadings{
    background-color: #feaa84;
    margin-top: -20px;
}


.hashtagname{
    font-family: 'Oswald', sans-serif; 
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
    padding-left:20px;
}

.footerlinks{
    background-color: #feaa84;
/*    margin-top: -10px;*/
}

.twitterblack{
    height: 20px;
    width: auto;
    padding-left: 20px;
}

.facebookblack{
    height: 20px;
    width: auto;
    margin-left: 70px;
    margin-top: -50px;
    
}


.vl {
  border-left: 1px solid black;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
margin-left: 370px;
    margin-top: -40px;
}


.weblink{
     font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    /*text-transform: uppercase;*/
    margin-top: -40px;
    padding-left: 190px;
}


.addressline{
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    padding-left: 190px;
    margin-top: -40px;
}

.report{
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    margin-top: -5px;
    padding-left: 20px;
}

    .reportspace{
        padding-left: 5px;
    }   
    
.cybersafe{
    background-color: #feaa84;
    margin-top: -40px;

}

.copywrite{
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    padding-left: 300px;
}

.logo{
    height: 60px;
    width: auto;
    padding-left: 535px;
    margin-top: -60px;
}

.rowlogo{
    background-color: #feaa84;
}   
 